@use "colors.module";


.aboutList {
  margin-top: 75px;

  li {
    padding: 35px 0;
    font-size: 24px !important;
    color: colors.$clr-red;
    border-bottom: 2px solid black;
    transition: border-bottom-color 1200ms linear;

    div {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1200ms linear 0s;
    }

    .showText {
      max-height: 100px;
    }

    button {
      width: 100%;
      text-align: start;

      h2 {
        color: black;
        font-size: 48px;
        width: 100%;
      }
    }
  }

}

@media (max-width: 1400px) {
  .aboutList {
    li {

      button {
        h2 {
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .aboutList {
    li {
      font-size: 22px !important;
      padding: 30px 0;

      button {
        h2 {
          font-size: 35px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .aboutList {
    li {
      font-size: 20px !important;
      padding: 20px 0;

      button {
        h2 {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
