@use "colors.module";


.cardsGrid {
  display: flex;
  overflow: auto;
  height: fit-content;
  padding-right: 30px;

  .horizontalScroll {
    position: static !important;
    height: inherit !important;

    div {
      height: inherit !important;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none
  }
}