.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  padding: 40px 0 5px 20%;
  align-items: center;
  font-family: 'Domine', serif;
  position: relative;

  a {
    margin: 15px 0;
    text-decoration: underline;
  }

  .emailLink {
    font-size: 50px;
    align-self: flex-start;
    z-index: 1;
  }

  .contactInfoWrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    z-index: 1;

    .contactInfo {
      display: flex;
      flex-direction: column;
      font-size: 26px;
      padding: 50px 0;
    }

    .divider {
      width: 10%;
      min-width: 20px;
    }

  }

  .filledRing {
    position: absolute;
    height: 700px;
    width: auto;
    right: -200px;
    top: -50px;
    animation: 42s linear infinite;
    animation-name: rotation;
    transition: height 300ms linear;
    z-index: 0;
  }

  h6 {
    font-weight: 400;
    bottom: 15px;
    align-self: flex-end;
    z-index: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1200px) {
  .footer {

    .emailLink {
      font-size: 32px;
    }

    .contactInfoWrapper {

      .contactInfo {
        font-size: 22px;
      }
    }

    .filledRing {
      height: 600px;
      right: -300px;
      top: -10px;
    }
  }
}

@media (max-width: 800px) {
  .footer {

    .emailLink {
      font-size: 30px;
    }

    .contactInfoWrapper {

      .contactInfo {
        font-size: 20px;
      }
    }

    .filledRing {
      height: 400px;
      right: -200px;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    padding-left: 20%;

    .emailLink {
      font-size: 24px;
    }

    .contactInfoWrapper {

      .contactInfo {
        padding: 25px 0;
        font-size: 16px;
      }
    }

    h6 {
      font-size: 8px;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    padding-left: 15%;

    .emailLink {
      font-size: 20px;
    }

    .contactInfoWrapper {

      .contactInfo {
        font-size: 14px;
      }
    }

    .filledRing {
      height: 300px;
      top: 50px;
    }
  }
}