@use "colors.module";

$page-padding-left: 17%;

.sideMenuWrapper {
  width: 10%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  padding-right: 5px;

  .sideMenu {
    max-width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgba(colors.$clr-background, .84);
    border-right: 3px solid white;
    padding-bottom: 40px;


    .logo {
      width: 100%;
      height: auto;
    }

    button {
      margin: 10px;
      transition: transform 200ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .icon {
      width: 45%;
      height: auto;
    }

    .sideMenuIcon {
      width: 43%;
      height: auto;
    }

    .socialMediaWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50%;
      align-items: center;
      padding: 10% 0;
    }

  }
}


.container {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: 100px;
  position: relative;
  overflow: hidden;

  .textCycleWrapper {
    overflow: hidden;
    position: absolute;
    top: -1100px;
    left: -520px;
    z-index: 0;

    &:nth-of-type(1) {
      top: 2500px;
    }

    .textCycle {
      height: 3000px;
      animation: 42s linear infinite;
      animation-name: rotation;
      transition: height 300ms linear;
    }
  }


  section {
    z-index: 1;
    position: relative;
    padding-left: $page-padding-left;

    h1 {
      font-weight: 400;
      font-size: 132px;
      margin: 30px 0;
    }


    h2 {
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      font-weight: 400;
    }
  }

  .sectionHome {
    margin-bottom: 800px;

    .linksWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      right: 3%;

      button {
        margin: 3px 0;
        font-size: 24px;
        transition: color, transform 200ms;

        &:hover {
          color: colors.$clr-red;
          transform: scale(1.1);
        }
      }
    }


  }

  .ringWrapper {
    position: absolute;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 33px;
    z-index: 1;

    p {
      width: 700px;
    }

    .ring {
      height: 900px;
      width: auto;
      margin-bottom: 30px;
      transition: height 300ms linear;
    }
  }

  .smallRingWrapper {
    z-index: 2;
    position: absolute;
    right: -100px;
    top: 5200px;

    .smallRing {
      height: 500px;
      width: auto;
      animation: 42s linear infinite;
      animation-name: rotation;
    }
  }

  .sectionAbout {
    position: relative;
    margin-bottom: 200px;

    .halfRingIcon {
      position: absolute;
      height: 1150px;
      left: -520px;
      top: -220px;
      transform: rotate(13deg);
    }

    .textWrapper {
      width: 80%;

    }
  }

  .sectionWhatWeDo {
    margin-bottom: 700px;
    padding-top: 100px;
    z-index: 3;

    h1 {
      margin-bottom: 750px;
    }

  }

  .sectionOurWork {
    background-color: colors.$clr-red;
    position: relative;
    left: 0;
    right: 0;
    padding: 50px 0 100px $page-padding-left;
    width: 100vw;
    height: 840px;

    h1 {
      color: white;
    }
  }
}

.cardWrapper {
  position: relative;
  cursor: pointer;
  margin: 10px;
  transition: transform 500ms ease !important;
  overflow: hidden;

  .arrow {
    position: absolute;
    width: 51px;
    height: auto;
    top: 5px;
    right: 5px;
    transition: transform 150ms ease-out;
  }

  h2, h3 {
    position: absolute;
    left: 5px;
    bottom: 0;
    color: white;
  }

  .avatarCardText {
    transition: transform 200ms ease-out;
  }

  .ourWorkCardText {
    transition: transform 200ms ease-out;
    bottom: 20px;
    left: 40px;
  }

  .card {
    width: 309px;
    height: auto;
    border-radius: 3px;
  }

  .cardWork {
    width: 438px;
    height: auto;
    border-radius: 3px;
  }

  &:hover {
    transform: scale(.9);

    .arrow {
      transform: translate(50px, -50px);
    }

    .avatarCardText {
      transform: translate(160px, -20px) scale(1.3);
    }

    .ourWorkCardText {
      transform: scale(1.2);
    }
  }
}

.shrink {
  transition: transform 200ms ease;

  &:hover {
    transform: scale(.9);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1400px) {
  .main {

    .textCycleWrapper {
      top: -950px;
      left: -460px;

      &:nth-of-type(1) {
        top: 2200px;
      }

      .textCycle {
        height: 2700px;
      }
    }

    section {
      h2 {
        font-size: 32px;
      }
    }

    span {
      font-size: 110px;
    }

    .ringWrapper {
      font-size: 28px;

      .ring {
        height: 750px;
      }

      p {
        width: 600px;
      }
    }

    .sectionHome {
      margin-bottom: 600px;

      .linksWrapper {
        button {
          font-size: 20px;
        }
      }
    }

    .sectionWhatWeDo {
      h1 {
        margin-bottom: 600px;
      }
    }

    .smallRingWrapper {
      top: 4700px;
    }

  }
}

@media (max-width: 1200px) {
  .main {
    padding-top: 90px;

    .textCycleWrapper {
      top: -900px;
      left: -410px;

      &:nth-of-type(1) {
        top: 1870px;
      }

      .textCycle {
        height: 2400px;
      }
    }

    section {
      h1 {
        font-size: 110px;
      }

      h2 {
        font-size: 28px;
      }
    }

    span {
      font-size: 90px;
    }

    .ringWrapper {
      font-size: 24px;

      .ring {
        height: 600px;
      }

      p {
        width: 500px;
      }
    }

    .sectionHome {
      margin-bottom: 500px;

      .linksWrapper {
        button {
          font-size: 16px;
        }
      }
    }

    .sectionWhatWeDo {
      h1 {
        margin-bottom: 400px;
      }
    }

    .sectionAbout {

      .textWrapper {
        width: 90%;
      }
    }

    .smallRingWrapper {
      top: 4040px;

      .smallRing {
        height: 420px;
      }
    }
  }

  .cardWrapper {

    .card {
      width: 280px;
    }

    .cardWork {
      width: 400px;
    }
  }
}

@media (max-width: 1000px) {
  .main {
    padding-top: 80px;

    .textCycleWrapper {
      top: -700px;
      left: -340px;

      &:nth-of-type(1) {
        top: 1650px;
      }

      .textCycle {
        height: 2000px;
      }
    }

    section {
      h1 {
        font-size: 96px;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
      }
    }

    span {
      font-size: 78px;
    }

    .ringWrapper {
      font-size: 20px;
      right: 5%;

      .ring {
        height: 500px;
      }

      p {
        width: 400px;
      }
    }

    .sectionHome {
      margin-bottom: 500px;

      .title {
        font-size: 26px;
      }

      .linksWrapper {
        button {
          font-size: 13px;
        }
      }
    }

    .sectionWhatWeDo {
      margin-bottom: 600px;

      h1 {
        margin-bottom: 400px;
      }
    }

    .sectionOurWork {
      height: 700px;
    }

    .smallRingWrapper {
      top: 3620px;

      .smallRing {
        height: 380px;
      }
    }

  }

  .cardWrapper {

    .card {
      width: 250px;
    }

    h2, h3 {
      bottom: 10px;
      font-size: 26px !important;
    }

    .cardWork {
      width: 350px;
    }
  }

}

@media (max-width: 800px) {
  $page-padding-left: 8%;

  .sideMenuWrapper {
    visibility: hidden;
  }

  .main {
    padding-top: 50px;

    .textCycleWrapper {
      top: -580px;
      left: -420px;

      &:nth-of-type(1) {
        top: 1550px;
      }

      .textCycle {
        height: 1800px;
      }
    }

    section {
      padding-left: $page-padding-left;

      h1 {
        font-size: 80px;
      }

      h2 {
        font-size: 21px;
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
      }
    }

    span {
      font-size: 60px;
    }

    .ringWrapper {
      font-size: 22px;
      padding-left: $page-padding-left;
      width: 100vw;

      .ring {
        height: 500px;
        position: relative;
        right: -230px;
      }

      p {
        width: 100%;
        padding-left: 8%;
      }
    }

    .sectionHome {
      .linksWrapper {
        button {
          &:hover {
            color: black;
          }
        }
      }
    }

    .sectionAbout {
      margin-bottom: 150px;
    }

    .sectionWhatWeDo {
      margin-bottom: 550px;

      h1 {
        margin-bottom: 320px;
      }
    }

    .sectionOurWork {
      padding-top: 30px;
      height: 620px;
    }

    .smallRingWrapper {
      top: 3200px;

      .smallRing {
        height: 320px;
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    padding-top: 40px;

    .textCycleWrapper {

      &:nth-of-type(1) {
        top: 1200px;
      }
    }

    section {
      h1 {
        font-size: 54px;
      }

      h2 {
        font-size: 20px;
      }
    }

    span {
      font-size: 42px;
    }

    .ringWrapper {
      font-size: 20px;

      .ring {
        height: 450px;
        right: -210px;
      }

      p {
        width: 100%;
        padding-left: 6%;
      }
    }

    .sectionHome {
      .linksWrapper {
        margin-right: 15px;
      }
    }

    .sectionAbout {
      margin-bottom: 100px;
    }

    .sectionOurWork {
      padding-top: 20px;
      height: 500px;
    }

    .smallRingWrapper {
      top: 2750px;

      .smallRing {
        height: 290px;
      }
    }
  }

  .cardWrapper {

    .arrow {
      height: 50px;
    }

    .card {
      width: 200px;
    }

    h2 {
      bottom: 10px;
      font-size: 24px !important;
    }

    h3 {
      font-size: 18px !important;
    }

    .cardWork {
      width: 280px;
    }

    &:hover {

      .arrow {
        transform: translate(50px, -50px);
      }

      .avatarCardText {
        transform: translate(100px, -20px) scale(1.3);
      }

      .ourWorkCardText {
        transform: scale(1.2);
      }
    }

  }

}

@media (max-width: 400px) {
  .main {
    padding-top: 30px;

    .textCycleWrapper {
      top: -450px;
      left: -330px;

      &:nth-of-type(1) {
        top: 1220px;
      }

      .textCycle {
        height: 1400px;
      }
    }

    section {
      h1 {
        font-size: 46px;
      }

      h2 {
        font-size: 18px;
      }
    }

    span {
      font-size: 38px;
    }

    .ringWrapper {
      font-size: 18px;

      .ring {
        height: 400px;
        right: -180px;
      }

      p {
        width: 100%;
        padding-left: 6%;
      }
    }

    .sectionHome {
      margin-bottom: 450px;

      .linksWrapper {
        margin-right: 5px;

        button {
          font-size: 12px;
        }
      }
    }

    .sectionWhatWeDo {
      margin-bottom: 460px;
    }

    .sectionOurWork {
      height: 480px;
    }

    .smallRingWrapper {
      top: 2550px;

      .smallRing {
        height: 250px;
      }
    }
  }
}