@use "colors.module";

.menusWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  pointer-events: none;

  .mobileNav {
    height: 100%;
    width: 100%;
    max-width: 0;
    background-color: black;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-width 300ms linear;
    overflow: hidden;
    font-family: 'Domine', serif;
    color: white;
    position: relative;
    pointer-events: all;

    .buttonX {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 40px;
    }

    .buttonsWrapper {
      display: flex;
      flex-direction: column;

      button {
        transition: opacity 300ms linear;
        font-size: 32px;
        margin: 10px;
        width: 250px;

        &:nth-of-type(1) {
          transition-delay: 350ms;
        }

        &:nth-of-type(2) {
          transition-delay: 500ms;
        }

        &:nth-of-type(3) {
          transition-delay: 650ms;
        }
      }
    }
  }


  .hamburger {
    background-color: colors.$clr-background;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
    border-radius: 3px;
    width: 8%;
    height: auto;
    cursor: pointer;
    display: none;
    pointer-events: all;
  }

  .sideMenuWrapper {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    pointer-events: all;
    max-width: 130px;

    .sideMenu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      background-color: rgba(colors.$clr-background, .84);
      border-right: 1px solid white;
      padding-bottom: 40px;
      width: max-content;

      .logo {
        width: 100%;
        height: auto;
      }

      .socialMedia {
        margin: 10px;
        transition: transform 200ms ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      .icon {
        width: 45%;
        height: auto;
      }

      .sideMenuIcon {
        width: 43%;
        height: auto;
      }

      .socialMediaWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        align-items: center;
        padding: 10% 0;
      }

    }
  }
}

@media (max-width: 1000px) {

  .sideMenuWrapper {
    .sideMenu {

      .icon {
        width: 65% !important;
      }
    }
  }

}


@media (max-width: 800px) {

  .menusWrapper {

    .hamburger {
      display: block;
    }

    .sideMenuWrapper {

      .sideMenu {

        .sideMenuIcon {
          display: none;
        }

        a {
          margin: 0 !important;
        }

        .socialMediaWrapper {
          height: 30% !important;
        }


        .icon {
          width: 65%;
        }
      }
    }
  }

}

@media (max-width: 600px) {

  .sideMenuWrapper {
    width: 10%;

    .sideMenu {

      .socialMediaWrapper {
        height: 20% !important;
      }

      .icon {
        width: 75%;
      }
    }
  }

}

@media (max-width: 400px) {

  .sideMenuWrapper {
    width: 12%;

    .sideMenu {

      .icon {
        width: 75%;
      }
    }
  }

}