@use "colors.module";

.menusWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;

  .mobileNav {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
      color: white;
    }
  }


  .hamburger {
    background-color: colors.$clr-background;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
    height: 45px;
    border-radius: 3px;
    width: auto;
    cursor: pointer;
  }

  .sideMenuWrapper {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    .sideMenu {
      max-width: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      background-color: rgba(colors.$clr-background, .84);
      border-right: 3px solid white;
      padding-bottom: 40px;

      .logo {
        width: 100%;
        height: auto;
      }

      button {
        margin: 10px;
        transition: transform 200ms ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      .icon {
        width: 45%;
        height: auto;
      }

      .sideMenuIcon {
        width: 43%;
        height: auto;
      }

      .socialMediaWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        align-items: center;
        padding: 10% 0;
      }

    }
  }
}

@media (max-width: 1000px) {

  .sideMenuWrapper {
    .sideMenu {

      .icon {
        width: 65% !important;
      }
    }
  }

}


@media (max-width: 800px) {

  .sideMenuWrapper {

    .sideMenu {

      .sideMenuIcon {
        display: none;
      }

      button {
        margin: 0 !important;
      }

      .socialMediaWrapper {
        height: 30% !important;
      }


      .icon {
        width: 65%;
      }
    }
  }

}

@media (max-width: 600px) {

  .sideMenuWrapper {
    width: 10%;

    .sideMenu {

      .socialMediaWrapper {
        height: 20% !important;
      }

      .icon {
        width: 75%;
      }
    }
  }

}

@media (max-width: 400px) {

  .sideMenuWrapper {
    width: 12%;

    .sideMenu {

      .icon {
        width: 75%;
      }
    }
  }

}