@use "colors.module";

$page-padding-left: 17%;


.main {
  flex: 1;
  padding-top: 100px;
  position: relative;
  font-size: 28px;

  .textCycleWrapper {
    overflow: hidden;
    position: absolute;
    top: -1380px !important;
    left: -590px;
    z-index: 0;

    .textCycle {
      height: 3400px;
      animation: 42s linear infinite;
      animation-name: rotation;
      transition: height 300ms linear;
    }
  }


  section {
    z-index: 1;
    position: relative;
    padding-left: $page-padding-left;

    h1 {
      font-weight: 400;
      font-size: 132px;
      margin: 30px 0;
    }


    h2 {
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      font-weight: 400;
    }
  }

  .sectionHome {
    margin-bottom: 800px;

    .linksWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      right: 3%;

      button {
        margin: 3px 0;
        font-size: 24px;
        transition: color, transform 200ms;

        &:hover {
          color: colors.$clr-red;
          transform: scale(1.1);
        }
      }
    }


  }

  .ringWrapper {
    position: absolute;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .mainPhotoWrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 50px;
      transition: width 300ms linear;
    }

    p {
      width: 700px;
    }

    .ring {
      height: 900px;
      width: auto;
      margin-bottom: 30px;
      transition: height 300ms linear;
      z-index: 2;
    }
  }

  .sectionAbout {
    position: relative;
    margin-bottom: 200px;
    padding-right: 8%;

    .filledRing {
      position: absolute;
      height: 1550px;
      left: -1080px;
      top: -500px;
      animation: 12s linear infinite;
      animation-name: rotation;
    }

    .text2 {
      margin-top: 50px;
    }

    .imagesWrapper {
      display: flex;
      width: 100%;
      margin: 20px 0;
      padding: 100px;

      .photo1 {
        margin-right: 40px;
      }

      .photo2 {
        margin-left: 40px;
        margin-top: 150px;
      }
    }
  }

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 1750px) {
  .main {

    .textCycleWrapper {
      top: -1050px !important;
      left: -520px;

      .textCycle {
        height: 3000px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .main {
    font-size: 24px;

    .textCycleWrapper {
      top: -950px !important;
      left: -460px;

      .textCycle {
        height: 2700px;
      }
    }

    section {
      h2 {
        font-size: 32px;
      }
    }

    span {
      font-size: 110px;
    }

    .ringWrapper {
      .ring {
        height: 750px;
      }

      p {
        width: 600px;
      }
    }

    .sectionHome {
      margin-bottom: 600px;

      .linksWrapper {
        button {
          font-size: 20px;
        }
      }
    }

  }
}

@media (max-width: 1200px) {
  .main {
    padding-top: 90px;
    font-size: 22px;

    .textCycleWrapper {
      top: -900px !important;
      left: -410px;

      .textCycle {
        height: 2400px;
      }
    }

    section {
      h1 {
        font-size: 110px;
      }

      h2 {
        font-size: 28px;
      }
    }

    span {
      font-size: 90px;
    }

    .ringWrapper {

      .ring {
        height: 600px;
      }

      p {
        width: 500px;
      }
    }

    .sectionHome {
      margin-bottom: 500px;

      .linksWrapper {
        button {
          font-size: 16px;
        }
      }
    }

    .sectionAbout {

      .imagesWrapper {
        padding: 50px;

        .photo1 {
          margin-right: 30px;
        }

        .photo2 {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .main {
    padding-top: 80px;
    font-size: 20px;

    .textCycleWrapper {
      top: -700px !important;
      left: -340px;

      .textCycle {
        height: 2000px;
      }
    }

    section {
      h1 {
        font-size: 96px;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
      }
    }

    span {
      font-size: 78px;
    }

    .ringWrapper {
      right: 5%;

      .ring {
        height: 500px;
      }

      p {
        width: 400px;
      }
    }

    .sectionHome {
      margin-bottom: 500px;

      .title {
        font-size: 26px;
      }

      .linksWrapper {
        button {
          font-size: 13px;
        }
      }
    }

    .sectionAbout {
      margin-bottom: 120px;

      .imagesWrapper {
        padding: 40px;

        .photo1 {
          margin-right: 25px;
        }

        .photo2 {
          margin-left: 25px;
        }
      }

    }
  }


}

@media (max-width: 800px) {
  $page-padding-left: 12%;

  .main {
    padding-top: 50px;
    font-size: 20px;

    .textCycleWrapper {
      top: -580px !important;
      left: -420px;

      .textCycle {
        height: 1800px;
      }
    }

    section {
      padding-left: $page-padding-left;

      h1 {
        font-size: 80px;
      }

      h2 {
        font-size: 21px;
        margin-bottom: 0;
      }

      h3 {
        font-size: 18px;
      }
    }

    span {
      font-size: 60px;
    }

    .ringWrapper {
      padding-left: $page-padding-left;
      width: 100vw;

      .mainPhotoWrapper {
        width: 500px;
        right: -170px;
      }

      .ring {
        height: 500px;
        position: relative;
        right: -230px;
      }

      p {
        width: 100%;
        padding-left: 8%;
      }
    }

    .sectionHome {
      .linksWrapper {
        display: none;
      }
    }

    .sectionAbout {
      padding-right: 2%;

      .imagesWrapper {
        padding: 30px;

        .photo1 {
          margin-right: 20px;
        }

        .photo2 {
          margin-left: 20px;
        }
      }
    }

  }

}

@media (max-width: 600px) {
  .main {
    padding-top: 40px;
    font-size: 16px;

    .textCycleWrapper {
      top: -420px !important;
      left: -380px;

      .textCycle {
        height: 1500px;
      }
    }

    section {

      h1 {
        font-size: 54px;
      }

      h2 {
        font-size: 20px;
      }
    }

    span {
      font-size: 42px;
    }

    .ringWrapper {

      .mainPhotoWrapper {
        width: 470px;
        right: calc(15% - 290px);
        top: -10px;
      }

      .ring {
        height: 450px;
        right: -210px;
      }

      p {
        width: 100%;
        padding-left: 9%;
      }
    }


    .sectionAbout {
      margin-bottom: 100px;

      .imagesWrapper {
        flex-direction: column;
        justify-content: center;
        margin: 50px 0;

        .photo1 {
          margin-right: 0;
          padding: 0 5%;
        }

        .photo2 {
          margin-left: 0;
          margin-top: 50px;
          padding: 0 5%;
        }

      }
    }
  }


}

@media (max-width: 400px) {
  $page-padding-left: 13%;
  .main {
    padding-top: 30px;
    font-size: 14px;

    .textCycleWrapper {
      top: -450px !important;
      left: -330px;

      .textCycle {
        height: 1400px;
      }
    }

    section {
      padding-left: $page-padding-left;

      h1 {
        font-size: 46px;
      }

      h2 {
        font-size: 18px;
      }
    }

    span {
      font-size: 38px;
    }

    .ringWrapper {

      .mainPhotoWrapper {
        width: 450px;
        right: calc(15% - 300px);
        top: -20px;
      }

      .ring {
        height: 400px;
        right: -180px;
      }

      p {
        width: 100%;
        padding-left: calc(#{$page-padding-left} - 1%);
      }
    }

    .sectionHome {
      margin-bottom: 450px;
    }

    .sectionAbout {
      .imagesWrapper {

        .photo1, .photo2 {
          padding: 0;
        }
      }
    }

  }
}