.shadeWrapper {
  position: relative;
  z-index: 2;
  cursor: pointer;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;

  .shade, .shadeWithHover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    z-index: 3;
  }

  .shadeWithHover {
    transition: opacity 200ms linear;


    &:hover {
      opacity: 0;
    }
  }
}

@media (max-width: 800px) {
  .shadeWrapper {
    .shadeWithHover {
      // No need for shade with hover on mobile view
      opacity: 0;
    }
  }
}