@use "colors.module";


.popup {
  height: 100%;
  width: 100%;
  max-width: 0;
  background-color: black;
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: max-width 300ms linear;
  overflow: hidden;
  color: white;
  position: relative;
  pointer-events: all;

  .workerWrapper {
    display: flex;
    padding: 13%;
    transition: opacity 300ms linear;
    opacity: 0;

    .cardWrapper {
      &:first-child {
        width: 500px;
        height: auto;
      }
    }

    .divider {
      width: 10%;
    }

    .workerDescription {
      display: flex;
      flex-direction: column;
      width: 600px;
      padding-top: 40px;

      .name {
        font-size: 48px;
        font-weight: bold;
      }

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 50px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .buttonX {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 40px;
  }

}

@media (max-width: 1400px) {
  .popup {
    .workerWrapper {

      .workerDescription {
        padding-top: 20px;

        .name {
          font-size: 42px;
        }

        h2 {
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

}

@media (max-width: 1200px) {
  .popup {
    .workerWrapper {

      .cardWrapper {
        &:first-child {
          width: 450px;
          height: auto;
        }
      }

      .workerDescription {
        padding-top: 0;
        min-width: 400px;

        .name {
          font-size: 32px;
        }

        h2 {
          font-size: 18px;
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
        }

      }
    }
  }
}


@media (max-width: 1000px) {
  .popup {
    .workerWrapper {

      .divider {
        display: none;
      }

      .cardWrapper {
        display: none;
      }

      .workerDescription {
        width: 550px;
      }
    }
  }
}

@media (max-width: 800px) {

  .popup {
    .workerWrapper {

      .workerDescription {
        width: 400px;
      }
    }
  }
}

@media (max-width: 600px) {

  .popup {
    .workerWrapper {

      .workerDescription {
        min-width: 250px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 400px) {
  .popup {
    .workerWrapper {
      .workerDescription {
        width: 250px;
      }
    }
  }
}